<div class="row">
  <div class="col">

    <!-- Back button  -->
    <div class="container">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <div type="button" class="btn btn-sm btn-primary" routerLink="/dashboard/category">Back</div>
        </li>
      </ul>
    </div>
    <!--  Back button -->

    <form [formGroup]="categoryForm" novalidate>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Category</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Product's Name" formControlName="name">
                <mat-error *ngIf="categoryForm.controls['name'].hasError('required')">
                  Category Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input type="color" matInput placeholder="Color" formControlName="color">
                <mat-error *ngIf="categoryForm.controls['color'].hasError('required')">
                  color is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="icon" formControlName="icon">
                <mat-error *ngIf="categoryForm.controls['icon'].hasError('required')">
                  icon is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="image Url" formControlName="image" />
                <mat-error *ngIf="categoryForm.controls['image'].hasError('required')">
                  Image url is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="id?false:true" mat-raised-button (click)="onSubmit()" color="primary" type="submit">Submit
            Category </button>
          <button *ngIf="id?true:false" mat-raised-button (click)="updateCategory()" color="primary"
            type="submit">update Category</button>
        </mat-card-actions>
      </mat-card>
    </form>

    <br>
    <hr>
  </div>
</div>